__pycache__/
.art/
.env
.venv/
grpo_trainer_lora_model/
logs/
shared_cache.db
data/cache.db
streaming-chat-completions/
unsloth_compiled_cache/
wandb/
!/typings/wandb/
!/typings/wandb/**
docs/node_modules/
dist/
replays/
/trajectories/
.DS_Store
.local/
.claude/settings.local.json
.vscode/
.ruff_cache/
!/src/art/wandb/
!/src/art/wandb/**
/src/art/wandb/__pycache__/
scratch/
